.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid var(--Secondary_colour);
  box-sizing: border-box;
  margin-bottom: 2rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: #724983;
}
