* {
  margin: 0;
  padding: 0;
}

:root {
  --primary_colour: #6c63ff;
  --Secondary_colour: #b86acf;
  --tertiary_colour: #536dfe;
  --post_colour: #f9a826;
  --white: #ffffff;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--Secondary_colour);
  font-size: 100%;
}
